<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>

    <body>
        <p>
            <h1>Ajax Post without Reload</h1>
            <input type="text" id="username" placeholder="Username">
            <input type="password" id="password" placeholder="Password">
            <input type="button" id="login" value="Login">
        </p>
        <hr>
        <p>
            <h1>Ajax Post with Reload</h1>
            <input type="text" id="username_with_reload" placeholder="Username">
            <input type="password" id="password_with_reload" placeholder="Password">
            <input type="button" id="login_with_reload" value="Login with reload">
        </p>

        <script type="text/javascript" src="static/js/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/fastquery.js"></script>
        <script type="text/javascript" src="static/js/main.js"></script>
    </body>
</html>